.footer {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa; /* Light background */
  color: #333; /* Dark text color */
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  bottom: 0;

  .operated-by,
  .helpdesk {
    flex: 1;
    text-align: center;

    .title {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

}

.gutter-space {
  height: 120px; /* Spacing to prevent footer overlap */
  width: 1px;
  content: '';
}